{% if page.lang == 'id' %}
<ul class="navbar-menu">
  <li><a href="index.html">Beranda</a></li>
  <li class="active"><a href="documentation.html">Dokumentasi</a></li>
  <li><a href="https://github.com/rakit/framework" target="_blank">Github</a></li>
</ul>
{% else %}
<ul class="navbar-menu">
  <li><a href="index.html">Home</a></li>
  <li class="active"><a href="documentation.html">Documentation</a></li>
  <li><a href="https://github.com/rakit/framework" target="_blank">Github</a></li>
</ul>
{% endif %}