<ul class="nav main-nav">
  <li>
    <a href="/documentation.html"><small>English please!</small></a>
  </li>
  <li class="header"><a href="#getting-started">Memulai</a></li>
  <li>
    <a href="#requirements">Kebutuhan</a>
  </li>
  <li>
    <a href="#installation">Instalasi</a>
  </li>
  <li>
    <a href="#hello-world">Hello World</a>
  </li>
  <li class="header"><a href="#guide">Panduan</a></li>
  <li>
    <a href="#routing">Konfigurasi</a>
  </li>
  <li>
    <a href="#routing">Routing</a>
  </li>
  <li>
    <a href="#middleware">Middleware</a>
  </li>
  <li>
    <a href="#request">Request</a>
  </li>
  <li>
    <a href="#response">Response</a>
  </li>
  <li>
    <a href="#container">Container</a>
  </li>
  <li class="header">You May Need</li>
  <li>
    <a href="https://github.com/rakit/validation" target="_blank">Validation</a>
  </li>
  <li>
    <a href="https://github.com/rakit/session" target="_blank">Session Manager</a>
  </li>
  <li>
    <a href="https://github.com/rakit/blade" target="_blank">View Blade</a>
  </li>
  <li>
    <a href="https://github.com/emsifa/Block" target="_blank">View Block</a>
  </li>
</ul>