html {
    font-size: 12px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif;
  color: #444;
}

h1, h2, h3, h4 {
	font-weight: thin;
}

h1 { font-size: 2em }
h2 { font-size: 1.7em }
h3 { font-size: 1.4em }
h4 { font-size: 1.2em }
h5 { font-size: 1em }

a[href] {
	color: #369a68;
	text-decoration: none;
}

.jumbotron {
	text-align: center;
	padding: 50px 0px 25px;
}

.jumbotron pre {
	text-align: left;
}

.jumbotron pre code {
	border: none;
}

.jumbotron h2 {
	opacity: .7;
}

.jumbotron h4 {
	opacity: .8;
	color: #369a68;
}

.jumbotron h2, .jumbotron h4 {
	margin: 0px;
}

.jumbotron .badges {
	margin-top: 25px;
}

/*
Modified from Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #983B97
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #019198
hue-6-2: #1C9AA0

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #983B97;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #1C9AA0;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #019198;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content h2 {
	font-size: 1.5em;
}

.content pre {
	margin-top: -15px;
}

.content p code {
	background: white;
	border-color: #efefef;
}

.content pre code {
	border: 1px solid #efefef;
	border-radius: 0px;
	padding: 20px;
}

.basic-example {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 0px;
	margin-bottom: 25px;
}

.basic-example pre {
	margin: 0px;
}

.basic-example pre code {
	border: none;
	padding: 20px;
}

.bottom-content {
	background-color: #fcfcfc; 
	border-top: 1px solid #efefef;
	padding: 80px 0px;
	text-align: center;
}

.button.button-primary {
	background-color: #369a68;
	border-color: #369a68;
}
.button.button-primary:hover,
.button.button-primary:active,
.button.button-primary:focus {
	background-color: #2D7D55;
	border-color: #2D7D55;
}

.button.button-secondary {
	color: white;
	background-color: #3A4658;
	border-color: #3A4658;
}
.button.button-secondary:hover,
.button.button-secondary:active,
.button.button-secondary:focus {
	background-color: #2A3A53;
	border-color: #2A3A53;
}

.button-lg {
	font-size: 1em;
	height: auto;
}

.text-muted {
	opacity: .3;
}

footer {
	text-align: center;
	padding: 20px 0px;
	background: #3A4658;
	color: white;
	font-size: .8em;
}

.navbar {
	width: 100%;
	background: white;
	padding: 10px 0px;
	box-sizing: border-box;	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #efefef;
	margin-bottom: 20px;
}

.navbar .navbar-brand {
	display: inline-block;
}

.navbar .navbar-brand img {
	height: 40px;
}

.navbar .navbar-right {
	float: right;
}

.navbar .navbar-right .navbar-menu {
	padding: 0px;
	margin: 0px;
}

.navbar .navbar-right .navbar-menu > li {
	float: left;
	list-style-type: none;
	margin: 0px;
}

.navbar .navbar-right .navbar-menu > li > a {
	display: inline-block;
	padding: 7px 10px;
	color: #888;
}

.navbar .navbar-right .navbar-menu > li.active > a {
	color: #369a68;
	font-weight: bold;
	border-radius: 3px;
}

ul.nav {
	padding: 10px 20px;
	border-right: 1px solid #efefef;
}

ul.nav > li {
	width: 100%;
	list-style-type: none;
	text-align: right;
}

ul.nav > li.header {
	font-size: .7em;
	color: #aaa;
}

ul.nav > li > a {
	color: #4b4b4b;
	font-size: .9em;
}

ul.nav > li > a[href] {
	color: #369a68;
}

blockquote {
	border-left: 3px solid #ddd;
	margin: 0px;
	padding: 10px 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
	color: #666;
}

blockquote.warning {
	background: #F5F0A7;
	border-left-color: #C6B458;
	color: #7B521E;
}

@media (max-width: 600px) {
	.navbar {
		text-align: center;
	}

	.navbar-brand {
		width: 100%;
	}

	.navbar-right, .navbar-menu {
		float: none;
		width: 100%;
		text-align: center;
	}

	.navbar-right .navbar-menu li {
		display: inline-block;
		float: none !important;
	}

	ul.nav {
		border: 1px solid #efefef;
	}

	ul.nav li {
		text-align: center;
	} 
}